# GITHUB_TOKEN=github_token
GOOGLE_API_KEY=google_api
COHERE_API_KEY=cohere_api
GROQ_API_KEY=groq_api
DODO_API_KEY=dp_test_xxxxxxxxxxxxxxxxx
DODO_PRODUCT_ID=price_xxxxxxxxxxxxx
APP_URL=http://localhost:5500
DODO_BASE_URL=https://test.dodopayments.com