# GITHUB_TOKEN=github_token
GOOGLE_API_KEY=google_api
COHERE_API_KEY=cohere_api
GROQ_API_KEY=groq_api
DODO_API_KEY=dp_test_xxxxxxxxxxxxxxxxx
DODO_PRODUCT_ID=price_xxxxxxxxxxxxx
APP_URL=http://localhost:5500
DODO_BASE_URL=https://test.dodopayments.com
DATABASE_URL=postgresql+psycopg://neondb_owner:YOUR_PASSWORD@ep-cool-heart-azo2wz85-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require